.table {
    margin-top: 10px;
    border-collapse: collapse;
}

.table {
    th {
        padding: 30px;
        border: 2px solid black;
        text-align: center;
    }

    td {
        padding: 30px;
        border: 2px solid black;
        text-align: center;
    }
}




